{% extends 'homes/base.html' %}
<html>
    {% block content %}
    <body>
        <h2>Login</h2>
        <div>
            <form method="post">
                {% csrf_token %}
                <label>E-Mail:</label>
                <input type="text" name="email" placeholder="Enter your e-mail" />

                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter password" />

                <input type="submit" value="login" />
            </form>
        </div>
    </body>
    {% endblock content %}
</html>