header {
    margin-bottom: 0;
}
body {
    margin: 0;
}

.aligncenter {
  text-align: center;
  padding-bottom: 0 !important;
}
.profile__info {
  padding-top: 0% !important;
  text-align: center;
  font-size: 14px;
}

.profile__info h3 {
  font-size: 1.5rem;
  color: var(--color-light);
  font-weight: 400;
}

.profile__info p {
  color: var(--color-main);
  font-weight: 500;
  margin-bottom: 1rem;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.friendsListFriend {
  margin-bottom: 2.4rem;
  background-color: var(--color-dark);
  border-radius: 1rem;
  padding: 2rem;
}

.friendsListFriend__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friendsListFriend__author {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.friendsListFriend__actions {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}

.friendsListFriend__actions span {
  font-size: 1.4rem;
  font-weight: 500;
}

.friendsListFriend__actions svg {
  fill: var(--color-main);

  width: 1.6rem;
  height: 1.6rem;
}

.friendsListFriend__content {
  margin: 1rem 0;
}

.friendsListFriend__content a {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-light);
  transition: all 0.3s ease-in-out;
}

.friendsListFriend__content a:hover {
  color: var(--color-main);
}

.friendsListFriend__meta {
  border-top: 1px solid var(--color-dark-medium);
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}