<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">Friendship manager</div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="{% url 'friends' %}"
      >Friends</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="{% url 'friend_requests' %}"
      >Requests</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="{% url 'profile' user.pk %}"
      >My profile</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="#!"
      >Home</a
    >
  </div>
</div>
