{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Friends</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script src="{% static 'js/scripts.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <header>{% include 'homes/navbar.html' %}</header>
  <body>
    <div class="d-flex" id="wrapper">
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
          Friendship manager
        </div>
        <div class="list-group list-group-flush">
          <a
            class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            "
            href="{% url 'friends' %}"
            >Friends</a
          >
          <a
            class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            "
            href="{% url 'friend_requests' %}"
            >Requests</a
          >
          <a
            class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            "
            href="{% url 'profile' user.pk %}"
            >My profile</a
          >
          <a
            class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            "
            href="#!"
            >Home</a
          >
        </div>
      </div>
      <div id="page-content-wrapper">
        {% block content %}
        <div class="container-fluid">
          {% for friend_request in requests %}
          <div class="card mb-3" style="max-width: 580px">
            <div class="row g-0">
              <div class="col-md-3">
                <a href="{% url 'profile' friend_request.from_user.pk %}">
                  <img
                    src="{{ friend_request.from_user.avatar.url }}"
                    height="180"
                    width="180"
                    alt="avatar"
                    title="avatar"
                    class="rounded-circle"
                    style="padding: 5% 5%"
                  />
                </a>
              </div>
              <div class="col-md-9">
                <div class="card-body" style="margin-left: 15px">
                  <a href="{% url 'profile' friend_request.from_user.pk %}"
                    ><h5 class="card-title">
                      @{{friend_request.from_user.username}}
                    </h5></a
                  >
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <p class="card-text">
                    <a href="{% url 'accept_friend_request' friend_request.id %}">Accept</a>  <a href="{% url 'reject_friend_request' friend_request.id %}">Reject</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <p>No friend requsets</p>
          {% endfor %}
        </div>
        {% endblock %}
      </div>
    </div>
  </body>
</html>
